{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "@typescript-eslint/semi": [2, "always"],
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/quotes": [2, "single", { "avoidEscape": true }]
    }
  }